asgiref==3.2.7
django
django-widget-tweaks==1.4.8
pytz==2020.1
sqlparse==0.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
asyncio==3.4.3
attrs==25.3.0
disutils
frozenlist==1.6.0
idna==3.10
multidict==6.4.3
pillow==11.2.1
propcache==0.3.1
yarl==1.20.0
setuptools
disutils
